<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header>
<%- include('./partials/nav.ejs') %>
    </header>
    <section>
        <div class="container">
            <h2>最新博客</h2>
            <%if(blogs.length > 0){ %>
                <% blogs.forEach(blog =>{ %>
                    <h3><%=blog.title %></h3>
                <p><%= blog.content %></p>
                <% }) %>
            <% } else { %>
                <p>快去<a href="/blog">发表文章</a>吧!</p>
            <%} %>

            
            
        </div>
    </section>
<%- include('./partials/footer.ejs') %>
</body>
</html>